In [99]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [100]:

df = pd.read_csv(r"https://raw.githubusercontent.com/mredshaw/AI-Fundamentals-Project/main/CleanData.csv")

In [101]:
df

,Unnamed: 0,0,86,87,88,89,90,1020,1023,1030,...,1706,1707,1708,1709,1710,1711,1886,1887,1888,1889
0,Characteristic,Neighbourhood Number,3 persons,4 persons,5 or more persons,Couples without children,Total number of census families in private hou...,Total - Income statistics in 2015 for one-...,Total - Income statistics in 2015 for two-...,Total - Income statistics in 2015 for one-...,...,Certificate of Apprenticeship or Certifi...,"College, CEGEP or other non-university cer...",University certificate or diploma below ba...,"University certificate, diploma or degree ...",Bachelor's degree,University certificate or diploma above ...,Employed,Unemployed,Participation rate,Employment rate
1,City of Toronto,NaN,174600.0,143250.0,56795.0,250085.0,718755.0,359955.0,752970.0,359990.0,...,40945.0,362080.0,65015.0,835260.0,534610.0,54570.0,1361375.0,122305.0,64.7,59.3
2,Agincourt North,129.0,2390.0,1875.0,605.0,2520.0,8425.0,1345.0,7770.0,1360.0,...,375.0,3540.0,775.0,5805.0,4380.0,295.0,12510.0,1360.0,55.4,50.0
3,Agincourt South-Malvern West,128.0,1835.0,1325.0,520.0,2095.0,6640.0,1620.0,6515.0,1615.0,...,325.0,3150.0,655.0,5765.0,4210.0,280.0,10855.0,1185.0,59.0,53.2
4,Alderwood,20.0,900.0,755.0,220.0,1175.0,3490.0,1105.0,3510.0,1115.0,...,345.0,2095.0,230.0,2290.0,1660.0,125.0,6405.0,415.0,66.5,62.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Wychwood,94.0,765.0,680.0,195.0,1320.0,3475.0,2080.0,3815.0,2065.0,...,205.0,1710.0,330.0,4775.0,2770.0,315.0,7470.0,410.0,69.2,65.6
138,Yonge-Eglinton,100.0,680.0,665.0,170.0,1290.0,3065.0,2365.0,3310.0,2370.0,...,85.0,1275.0,235.0,6255.0,3625.0,370.0,6815.0,505.0,73.2,68.2
139,Yonge-St.Clair,97.0,535.0,380.0,115.0,1850.0,3160.0,3475.0,3535.0,3520.0,...,100.0,1410.0,360.0,6775.0,3720.0,445.0,7245.0,455.0,69.4,65.2
140,York University Heights,27.0,1845.0,1395.0,610.0,1955.0,7000.0,2660.0,7505.0,2655.0,...,505.0,3765.0,765.0,5555.0,3910.0,340.0,13235.0,1585.0,63.0,56.3
141,Yorkdale-Glen Park,31.0,1035.0,740.0,330.0,1245.0,3930.0,1355.0,3985.0,1350.0,...,340.0,1755.0,320.0,2405.0,1595.0,220.0,6670.0,580.0,60.1,55.3

In [102]:
# Define the list of columns to update
columns_to_update = ['1039','1040','1041','1042','1043','1044','1044','1045','1046','1047','1048','1049','1050','1051','1052','1053']

# Change the value in the first row of specified columns to a hard-coded float value
for column in columns_to_update:
    df.at[0, column] = 6.9

In [103]:
def convert_to_float(value):
    if value == 'Characteristic':
        return value
    else:
        return (float(value))

# Apply the function to all elements in the DataFrame except the first row and first column
df.iloc[1:, 1:] = df.iloc[1:, 1:].applymap(convert_to_float)

In [104]:
columns_to_merge = ['1039','1040','1041','1042','1043','1044','1044','1045','1046']
# Calculate the sum of the specified columns
merged_column_sum = df[columns_to_merge].sum(axis=1)

# Create a new column with the merged values
merged_column_name = 'Under $50,000'
df[merged_column_name] = merged_column_sum

# Remove the individual columns that were merged
df = df.drop(columns_to_merge, axis=1)

In [105]:
columns_to_merge = ['1047','1048','1049','1050','1051']
# Calculate the sum of the specified columns
merged_column_sum = df[columns_to_merge].sum(axis=1)

# Create a new column with the merged values
merged_column_name = '$50,000 - $100,000'
df[merged_column_name] = merged_column_sum

# Remove the individual columns that were merged
df = df.drop(columns_to_merge, axis=1)

In [106]:
column_mapping = {'1052': '$100,000 and over','1053': '$200,000 and over'}
df = df.rename(columns=column_mapping)

In [108]:
columns_to_shift = ['$100,000 and over', '$200,000 and over']

# Create a new DataFrame with the specified columns moved to the end
shifted_df = df[[col for col in df.columns if col not in columns_to_shift] + columns_to_shift]

# Assign the new DataFrame back to the original DataFrame
df = shifted_df

In [109]:
df.to_csv('TestCleanData.csv')