In [80]:
import pandas as pd

In [81]:
df= pd.read_csv('/Users/mikeredshaw/Documents/Schulich MBAN/MMAI 5000 AI Fundamentals/ToyotaCorolla.csv')

In [82]:
df.info()
df.describe(include = 'all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1436 non-null   int64
 1   Model              1436 non-null   object
 2   Price              1436 non-null   int64
 3   Age_08_04          1436 non-null   int64
 4   Mfg_Month          1436 non-null   int64
 5   Mfg_Year           1436 non-null   int64
 6   KM                 1436 non-null   int64
 7   Fuel_Type          1436 non-null   object
 8   HP                 1436 non-null   int64
 9   Met_Color          1436 non-null   int64
 10  Color              1436 non-null   object
 11  Automatic          1436 non-null   int64
 12  CC                 1436 non-null   int64
 13  Doors              1436 non-null   int64
 14  Cylinders          1436 non-null   int64
 15  Gears              1436 non-null   int64
 16  Quarterly_Tax      1436 non-null   int64
 17  Weight             1436 non-null   int64
 18  Mfr_Guarantee      1436 non-null   int64
 19  BOVAG_Guarantee    1436 non-null   int64
 20  Guarantee_Period   1436 non-null   int64
 21  ABS                1436 non-null   int64
 22  Airbag_1           1436 non-null   int64
 23  Airbag_2           1436 non-null   int64
 24  Airco              1436 non-null   int64
 25  Automatic_airco    1436 non-null   int64
 26  Boardcomputer      1436 non-null   int64
 27  CD_Player          1436 non-null   int64
 28  Central_Lock       1436 non-null   int64
 29  Powered_Windows    1436 non-null   int64
 30  Power_Steering     1436 non-null   int64
 31  Radio              1436 non-null   int64
 32  Mistlamps          1436 non-null   int64
 33  Sport_Model        1436 non-null   int64
 34  Backseat_Divider   1436 non-null   int64
 35  Metallic_Rim       1436 non-null   int64
 36  Radio_cassette     1436 non-null   int64
 37  Parking_Assistant  1436 non-null   int64
 38  Tow_Bar            1436 non-null   int64
dtypes: int64(36), object(3)
memory usage: 437.7+ KB

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
count,1436.000000,1436,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436,1436.000000,1436.000000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
unique,NaN,319,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...,NaN,NaN,NaN,NaN,NaN,Petrol,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,109,NaN,NaN,NaN,NaN,NaN,1264,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,721.555014,NaN,10730.824513,55.947075,5.548747,1999.625348,68533.259749,NaN,101.502089,0.674791,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,416.476890,NaN,3626.964585,18.599988,3.354085,1.540722,37506.448872,NaN,14.981080,0.468616,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,1.000000,NaN,4350.000000,1.000000,1.000000,1998.000000,1.000000,NaN,69.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,NaN,8450.000000,44.000000,3.000000,1998.000000,43000.000000,NaN,90.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,721.500000,NaN,9900.000000,61.000000,5.000000,1999.000000,63389.500000,NaN,110.000000,1.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1081.250000,NaN,11950.000000,70.000000,8.000000,2001.000000,87020.750000,NaN,110.000000,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1442.000000,NaN,32500.000000,80.000000,12.000000,2004.000000,243000.000000,NaN,192.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [83]:
df.dtypes

Id                    int64
Model                object
Price                 int64
Age_08_04             int64
Mfg_Month             int64
Mfg_Year              int64
KM                    int64
Fuel_Type            object
HP                    int64
Met_Color             int64
Color                object
Automatic             int64
CC                    int64
Doors                 int64
Cylinders             int64
Gears                 int64
Quarterly_Tax         int64
Weight                int64
Mfr_Guarantee         int64
BOVAG_Guarantee       int64
Guarantee_Period      int64
ABS                   int64
Airbag_1              int64
Airbag_2              int64
Airco                 int64
Automatic_airco       int64
Boardcomputer         int64
CD_Player             int64
Central_Lock          int64
Powered_Windows       int64
Power_Steering        int64
Radio                 int64
Mistlamps             int64
Sport_Model           int64
Backseat_Divider      int64
Metallic_Rim          int64
Radio_cassette        int64
Parking_Assistant     int64
Tow_Bar               int64
dtype: object

In [84]:
df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [85]:
fuel_mapping = {'Diesel': 1, 'Petrol': 2, 'CNG': 3}
df['Fuel_Type_Number'] = df['Fuel_Type'].map(fuel_mapping)

In [86]:
print(df['Fuel_Type'])

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434    Petrol
1435    Petrol
Name: Fuel_Type, Length: 1436, dtype: object

In [87]:
df['Color'].unique()

array(['Blue', 'Silver', 'Black', 'White', 'Grey', 'Red', 'Green',
       'Yellow', 'Violet', 'Beige'], dtype=object)

In [88]:
color_mapping = {'Blue' :1, 'Silver' :2, 'Black':3, 'White':4, 'Grey':5, 'Red':6, 'Green':7,
       'Yellow':8, 'Violet':9, 'Beige':10}
df['Color_Number'] = df['Color'].map(color_mapping)
df['Color_Number'].astype(int)
print(df.dtypes)

Id                    int64
Model                object
Price                 int64
Age_08_04             int64
Mfg_Month             int64
Mfg_Year              int64
KM                    int64
Fuel_Type            object
HP                    int64
Met_Color             int64
Color                object
Automatic             int64
CC                    int64
Doors                 int64
Cylinders             int64
Gears                 int64
Quarterly_Tax         int64
Weight                int64
Mfr_Guarantee         int64
BOVAG_Guarantee       int64
Guarantee_Period      int64
ABS                   int64
Airbag_1              int64
Airbag_2              int64
Airco                 int64
Automatic_airco       int64
Boardcomputer         int64
CD_Player             int64
Central_Lock          int64
Powered_Windows       int64
Power_Steering        int64
Radio                 int64
Mistlamps             int64
Sport_Model           int64
Backseat_Divider      int64
Metallic_Rim          int64
Radio_cassette        int64
Parking_Assistant     int64
Tow_Bar               int64
Fuel_Type_Number      int64
Color_Number          int64
dtype: object

In [89]:
df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar,Fuel_Type_Number,Color_Number
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,0,0,0,1,0,0,0,0,1,1
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,0,0,1,0,0,0,0,1,2
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,0,1,0,0,0,0,1,1
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,0,1,0,0,0,0,1,3
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,0,1,0,1,0,0,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,0,1,1,1,0,0,0,0,2,1
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,0,0,1,1,0,0,0,0,2,5
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,0,0,0,1,0,0,0,0,2,1
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,0,0,0,1,0,0,0,0,2,5
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,0,0,0,0,0,0,0,0,2,7

In [90]:
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar,Fuel_Type_Number,Color_Number
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,0,0,0,1,0,0,0,0,1,1
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,0,0,1,0,0,0,0,1,2
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,0,1,0,0,0,0,1,1
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,0,1,0,0,0,0,1,3
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,0,1,0,1,0,0,0,0,1,3

In [91]:
df_training_size = int(df['Id'].count()*0.5)
df_training = df.iloc[0:(df_training_size-1)]
print(df_training)

      Id                                              Model  Price  Age_08_04
0      1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23  \
1      2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23
2      3      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24
3      4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26
4      5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30
..   ...                                                ...    ...        ...
712  716  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8750         65
713  717  TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors   9500         58
714  718  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   8450         68
715  719  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   8490         62
716  720     TOYOTA Corolla 1.6 Linea Terra Sedan 4/5-Doors   8750         60

     Mfg_Month  Mfg_Year     KM Fuel_Type   HP  Met_Color  ... Radio
0           10      2002  46986    Diesel   90          1  ...     0  \
1           10      2002  72937    Diesel   90          1  ...     0
2            9      2002  41711    Diesel   90          1  ...     0
3            7      2002  48000    Diesel   90          0  ...     0
4            3      2002  38500    Diesel   90          0  ...     0
..         ...       ...    ...       ...  ...        ...  ...   ...
712          4      1999  91246    Petrol   86          1  ...     0
713         11      1999  91000    Petrol  110          1  ...     0
714          1      1999  90727    Petrol  110          0  ...     0
715          7      1999  90000    Petrol  110          0  ...     0
716          9      1999  89576    Petrol  110          0  ...     1

     Mistlamps  Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette
0            0            0                 1             0               0  \
1            0            0                 1             0               0
2            0            0                 1             0               0
3            0            0                 1             0               0
4            1            0                 1             0               0
..         ...          ...               ...           ...             ...
712          0            1                 1             0               0
713          1            0                 1             1               0
714          0            1                 1             0               0
715          0            1                 1             0               0
716          0            0                 0             0               1

     Parking_Assistant  Tow_Bar  Fuel_Type_Number  Color_Number
0                    0        0                 1             1
1                    0        0                 1             2
2                    0        0                 1             1
3                    0        0                 1             3
4                    0        0                 1             3
..                 ...      ...               ...           ...
712                  0        0                 2             2
713                  0        1                 2             5
714                  0        0                 2             6
715                  0        0                 2             6
716                  0        1                 2             6

[717 rows x 41 columns]

In [92]:
df_validation_size = int(df['Id'].count()*0.3)
df_validation = df.iloc[df_training_size : ((df_training_size + df_validation_size)-1)]
print(df_validation)

        Id                                              Model  Price
718    722   TOYOTA Corolla 1.6 Linea Luna Wagon Stationwagen   9950  \
719    723  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   8500
720    724  TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-D...   8450
721    725  TOYOTA Corolla 1.6 16V SEDAN LINEA LUNA 4/5-Doors   7900
722    726  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   8750
...    ...                                                ...    ...
1142  1148     TOYOTA Corolla 1.3 Linea Terra 3 drs 2/3-Doors   7950
1143  1149  TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA AUT4 4...   8950
1144  1150  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7750
1145  1151  TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-D...   6450
1146  1152  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   6900

      Age_08_04  Mfg_Month  Mfg_Year      KM Fuel_Type   HP  Met_Color  ...
718          63          6      1999   89000    Petrol  110          1  ...  \
719          68          1      1999   88807    Petrol  110          0  ...
720          63          6      1999   88685    Petrol  110          0  ...
721          62          7      1999   88667    Petrol  110          1  ...
722          57         12      1999   88480    Petrol  110          1  ...
...         ...        ...       ...     ...       ...  ...        ...  ...
1142         80          1      1998  102300    Petrol   86          1  ...
1143         75          6      1998  102005    Petrol  107          1  ...
1144         77          4      1998  102000    Petrol   86          1  ...
1145         75          6      1998  101855    Petrol  110          1  ...
1146         74          7      1998  101773    Petrol  110          0  ...

     Radio  Mistlamps  Sport_Model  Backseat_Divider  Metallic_Rim
718      0          0            0                 0             0  \
719      0          0            0                 1             1
720      0          0            1                 1             0
721      0          1            0                 1             0
722      0          0            1                 1             0
...    ...        ...          ...               ...           ...
1142     0          0            0                 0             0
1143     0          1            0                 1             0
1144     0          0            0                 1             0
1145     1          0            0                 1             0
1146     0          0            1                 1             0

      Radio_cassette  Parking_Assistant  Tow_Bar  Fuel_Type_Number
718                0                  0        1                 2  \
719                0                  0        1                 2
720                0                  0        0                 2
721                0                  0        0                 2
722                0                  0        0                 2
...              ...                ...      ...               ...
1142               0                  0        1                 2
1143               0                  0        0                 2
1144               0                  0        0                 2
1145               1                  0        1                 2
1146               0                  0        0                 2

      Color_Number
718              4
719              6
720              5
721              6
722              7
...            ...
1142             1
1143             5
1144             1
1145             5
1146             5

[429 rows x 41 columns]

In [93]:
df_test_size = int(df['Id'].count()*0.2)
df_test = df.iloc[(df_training_size + df_validation_size) : -1]
print(df_test)

        Id                                              Model  Price
1148  1154        TOYOTA Corolla 1.3 HB LINEA TERRA 2/3-Doors   6750  \
1149  1155  TOYOTA Corolla 1.3 16V SEDAN LINEA TERRA AUT3 ...   8050
1150  1156  TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-D...   9500
1151  1157  TOYOTA Corolla 1.6 16V SEDAN LINEA TERRA 4/5-D...   7750
1152  1158  TOYOTA Corolla 1.6 16V WAGON LINEA TERRA Stati...   8500
...    ...                                                ...    ...
1430  1437  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8450
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250

      Age_08_04  Mfg_Month  Mfg_Year      KM Fuel_Type   HP  Met_Color  ...
1148         74          7      1998  101000    Petrol   86          0  ...  \
1149         74          7      1998  100732    Petrol   86          1  ...
1150         79          2      1998  100719    Petrol  110          0  ...
1151         78          3      1998  100487    Petrol  110          0  ...
1152         80          1      1998  100458    Petrol  110          0  ...
...         ...        ...       ...     ...       ...  ...        ...  ...
1430         80          1      1998   23000    Petrol   86          0  ...
1431         69         12      1998   20544    Petrol   86          1  ...
1432         72          9      1998   19000    Petrol   86          0  ...
1433         71         10      1998   17016    Petrol   86          0  ...
1434         70         11      1998   16916    Petrol   86          1  ...

     Radio  Mistlamps  Sport_Model  Backseat_Divider  Metallic_Rim
1148     0          0            0                 0             0  \
1149     0          0            0                 0             0
1150     0          0            0                 1             0
1151     0          0            0                 0             0
1152     0          0            0                 1             0
...    ...        ...          ...               ...           ...
1430     0          0            1                 1             1
1431     0          1            1                 1             0
1432     0          0            1                 1             0
1433     0          0            0                 1             0
1434     0          0            0                 1             0

      Radio_cassette  Parking_Assistant  Tow_Bar  Fuel_Type_Number
1148               0                  0        0                 2  \
1149               0                  0        1                 2
1150               0                  0        0                 2
1151               0                  0        0                 2
1152               0                  0        0                 2
...              ...                ...      ...               ...
1430               0                  0        0                 2
1431               0                  0        0                 2
1432               0                  0        0                 2
1433               0                  0        0                 2
1434               0                  0        0                 2

      Color_Number
1148             5
1149             1
1150             6
1151             6
1152             1
...            ...
1430             1
1431             1
1432             5
1433             1
1434             5

[287 rows x 41 columns]

In [94]:
import seaborn as sns

In [95]:
from sklearn.linear_model import LinearRegression

# Define the predictor variables
predictors = ['Age_08_04', 'KM', 'Fuel_Type_Number', 'HP', 'Automatic', 'Doors', 'Quarterly_Tax',
              'Mfr_Guarantee', 'Guarantee_Period', 'Airco', 'Automatic_airco',
              'CD_Player', 'Powered_Windows', 'Sport_Model', 'Tow_Bar']

# Create the feature matrices and target variables for training, test, and validation
X_train = df_training[predictors]
y_train = df_training['Price']

X_test = df_test[predictors]
y_test = df_test['Price']

X_validation = df_validation[predictors]
y_validation = df_validation['Price']

# Create an instance of the LinearRegression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Print the coefficients and intercept
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

Intercept: 11068.607871390195
Coefficients: [-1.15247853e+02 -2.29845823e-02 -7.67195185e+02  5.39729511e+01
  3.49142185e+02  1.82678940e+02  1.66300254e+01  2.59471925e+02
  7.31457191e+01  2.70248718e+02  2.31686331e+03  2.13542686e+02
  5.77015584e+02  8.71202945e+02 -4.27620933e+01]